# These are the current maintainers/admin of the seacrowd-datahub repo

* @holylovenia @samuelcahyawijaya @sabilmakbar @jamesjaya @yongzx @gentaiscool @ljvmiranda921 @jen-santoso @danjohnvelasco @MJonibek @tellarin
